*{
    margin: 0;
    padding: 0;
    border: 0;
}
.box{
    background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614439714_55-p-temnii-fon-dlya-saita-58.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}